body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: light;
  font-variation-settings:
  "wdth" 100;
  margin: 20px;
}


.nav-left h1 a{
  font-family: "Kaisei Decol", serif;
  font-weight: 400;
  font-style: bold;
  cursor: pointer; /* Altera o cursor ao passar por cima do botão */
  text-decoration: none; /* Remover sublinhado padrão de links */
  color: #000000; /* Cor do texto preta */
  cursor: pointer; /* Altera o cursor ao passar por cima do botão */
  
}

.nav-right{
  
  display: flex;
  align-items: center; 
}


.botao {
  background-color: #ffffff; /* Cor de fundo branca */
  color: #000000; /* Cor do texto preta */
  border: 2px solid #000000; /* Borda preta com 1px de espessura */
  padding: 5px 40px; /* Espaçamento interno */
  text-decoration: none; /* Remover sublinhado padrão de links */
  cursor: pointer; /* Altera o cursor ao passar por cima do botão */
  margin-left: 10px; /* Adiciona um espaçamento entre os botões */
  
}

/* Estilo quando o mouse passa por cima do botão */
.botao:hover {
  background-color: #f0f0f0; /* Cor de fundo levemente mais clara */
}

header {
  display: flex;
  align-items: center; /* Centraliza verticalmente os elementos dentro do header */
  justify-content: space-between; /* Distribui o espaço entre os elementos */
  margin-bottom: 10px;
}

.posts {
  margin-top: 50px;
  text-align: center; /* Para centralizar horizontalmente */
}

.posts h2{
  font-family: "Kaisei Decol", serif;
  font-weight: 400;
  font-style: bold;
  font-size: 55px;
  margin-bottom: 5px;
}

.posts p {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: light;
  font-variation-settings:
  "wdth" 100;
}


#meio {
  background-color: #D9D9D9;
  overflow: hidden; /* Para limpar floats */
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  height: 450px;
  padding: 50px 50px; /* Espaçamento interno */
}

#direita{
  float: right;
  text-align: right;
  width: 500%;
  
}

#direita img {
  object-fit: fill;
  width: 80%;
  height: auto; /* Ajusta automaticamente a altura para manter a proporção */
}

#esquerda{
  float: left;
  text-align: left;
  flex-direction: column;
  justify-content: space-between;
  
}

#esquerda h2{
  margin-top: 5px;
  font-family: "Kaisei Decol", serif;
  font-weight: 400;
  font-style: bold;
  font-size: 55px;
}

#esquerda p{
  margin-top: 5px;
}

.cor{
  color: #000000; /* Cor do texto preta */
  text-decoration: none; /* Remover sublinhado padrão de links */
}

.post-entry h2 a,
.post-entry h2 a:visited {
color: rgb(0, 0, 0);
text-decoration: none;
font-family: "Kaisei Decol", serif;
font-weight: 400;
}

.post-entry p {
margin: 0;
font-weight: 400;
font-family: "Open Sans", sans-serif;
font-optical-sizing: auto;
font-weight: 300;
font-style: light;
font-variation-settings:
"wdth" 100;
}

.post-entry h2 a:hover {
color: grey;
}

