body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: light;
  font-variation-settings:
  "wdth" 100;
  
}

.nav-left h1 a{
  font-family: "Kaisei Decol", serif;
  font-weight: 400;
  font-style: bold;
  text-decoration: none; /* Remover sublinhado padrão de links */
  cursor: pointer; /* Altera o cursor ao passar por cima do botão */
  color: #000000; /* Cor do texto preta */
  cursor: pointer; /* Altera o cursor ao passar por cima do botão */
  
}

.nav-right{
  
  display: flex;
  align-items: center; 
}


.botao {
  background-color: #ffffff; /* Cor de fundo branca */
  color: #000000; /* Cor do texto preta */
  border: 2px solid #000000; /* Borda preta com 1px de espessura */
  padding: 5px 40px; /* Espaçamento interno */
  text-decoration: none; /* Remover sublinhado padrão de links */
  cursor: pointer; /* Altera o cursor ao passar por cima do botão */
  margin-left: 10px; /* Adiciona um espaçamento entre os botões */
  
}

/* Estilo quando o mouse passa por cima do botão */
.botao:hover {
  background-color: #f0f0f0; /* Cor de fundo levemente mais clara */
}

header {
  display: flex;
  align-items: center; /* Centraliza verticalmente os elementos dentro do header */
  justify-content: space-between; /* Distribui o espaço entre os elementos */
  margin-bottom: 10px;
}

#meio {
  background-color: #D9D9D9;
  overflow: hidden; /* Para limpar floats */
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  height: 450px;
  padding: 30px 30px; /* Espaçamento interno */
}

#direita{
  float: right;
  text-align: right;
  width: 500%;
  
}

#direita img {
  object-fit: fill;
  width: 80%;
  height: auto; /* Ajusta automaticamente a altura para manter a proporção */
}

#esquerda{
  float: left;
  text-align: left;
}

#esquerda h2{
  font-family: "Kaisei Decol", serif;
  font-weight: 400;
  font-style: bold;
  font-size: 55px;
}