{% load static %}
<html>
    <head>
        <title>Djando blog</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kaisei+Decol&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
    <body>
    <div>
    <header>
    <div class="nav-left">
    <h1><a href="{% url 'home' %}">Django blog</a></h1>
    </div>
    <div class="nav-right">
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}" class="botao">Log out</a>
    {% else %}
    <a href="{% url 'login' %}" class="botao">Log In</a>
    <a href="{% url 'signup' %}" class="botao">Sign Up</a>
    {% endif %}
    </div>
    </header>
    
    {% block content %}
    {% endblock %}
    </div>
    </body>
</html>
