{% extends "base.html" %}
{% block content %}
<h1>New post</h1>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <div>
        <label for="id_title">Title:</label>
        {{ form.title.errors }}
        {{ form.title }}
    </div>
    <!-- Ocultar o campo autor -->
    <input type="hidden" name="author" value="{{ request.user.id }}">
    <div>
        <label for="id_body">Body:</label>
        {{ form.body.errors }}
        {{ form.body }}
    </div>
    <input type="submit" value="Save">
</form>
{% endblock content %}
